.poi {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  height: 18px;
  width: 18px;
  margin-top: -9px;
  margin-left: -9px;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;  
  transition: transform 0.3s ease-out;
}
.poi:hover {
  transform: scale(2, 2);  
}

.icon {
  fill: #fffd;
  height: 14px;
  width: 14px;
}

.label {
  position: absolute;
  margin-left: -50%;
  min-width: 120px;
  left: -60px;
  text-align: center;
  bottom: 20px;
  padding: 6px;
  font-size: 14px; 
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background: #1119;
  border: 1px solid #3333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}