.searchBar {
  background: #333;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 10px;  
  display: flex;
  flex-direction: row;
}

.typeahead {
  height: 50px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px 0px 0px 10px;
  margin-right: 2px 
}

.destinationButton {
  height: 50px;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
}