.controlPanel {
  background: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  border-bottom: 0.5px solid #666;
}

.block {
  padding: 10px;
  border-right: 0.5px solid #666;
}

.block:last-child {
  border-right: none;
}

.status,
.toggles,
.vehicles,
.options,
.mainControls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.danger {
  border: 1px solid #f006;
  border-radius: 10px;
  margin: 0px -5px;
  padding: 5px;
  margin-top: 4px;
  background: #f001;
}

.status p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #fff;  
}

.options {
  padding: 10px;
  gap: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mainControls {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}
.itemLabel {
  font-size: 0.9rem;
  color: #ccc;
  width: 120px;

}
.itemValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  color: #eee;
}

.mainButton {
  width: 60px !important;
  height: 60px !important;
  margin: 0px 1px;  
}

.mainButton svg {
  height: 40px;
  width: 40px;
}

.mainButton:first-child {
  border-radius: 20px 3px 3px 20px;
}

.mainButton:last-child {
  border-radius: 3px 20px 20px 3px;
}



/* Responsive Design */
@media (max-width: 500px) {
  .controlPanel {
    padding: 10px;
  }

  .options {
    grid-template-columns: 1fr;
  }

  .buttons {
    justify-content: center;
  }
}