.controlPanel {
  background: #393939;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  height: 270px;
}

.block {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  margin: 0px 5px;
}

.resetButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.status,
.toggles,
.vehicles,
.options,
.buttons,
.mainButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.status {
  
}

.status p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #fff;  
}

.options {
  padding: 10px;
  gap: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}
.itemLabel {
  font-size: 0.9rem;
  color: #ccc;
  width: 120px;

}
.itemValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  color: #eee;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


.playPauseButton {
  background-color: #28a745; /* Green */
  color: #ffffff;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-1);
  border-radius: 40px;
}

.playPauseButton:hover {
  background: var(--bg-2);
}



/* Responsive Design */
@media (max-width: 500px) {
  .controlPanel {
    padding: 10px;
  }

  .options {
    grid-template-columns: 1fr;
  }

  .buttons {
    justify-content: center;
  }
}