:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-1: rgba(255, 255, 255, 0.1);
  --bg-2: rgba(255, 255, 255, 0.2);
  --shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
  --bg-primary: #0b6055;

  --blur-px: blur(10px);

}
